/www/*
/hosts/*
!/hosts/example.conf

!/logs/.gitkeep
/logs/*

!/db/initdb/extension-uuid.sql
/db/initdb/*
!/db/data/.gitkeep
/db/data/*
/db/dumps/*
!/db/mysql/.gitkeep
/db/mysql/*
!/db/clickhouse/.gitkeep
/db/clickhouse/*

/meilisearch/*

/.vscode
/.idea
.env